<td>{{ unit_type }}</td>
<td class="center">{{ inv_id }}</td>
<td class="center">{{ name }}</td>
<td class="center">{{ description }}</td>
<td class="center">
  <a class="btn btn-success" href="#units/{{inv_id}}">
    <i class="halflings-icon white zoom-in"></i>
  </a>
  <a class="btn btn-info" href="#">
    <i class="halflings-icon white edit"></i>
  </a>
  <a class="btn btn-danger" href="#">
    <i class="halflings-icon white trash"></i>
  </a>
</td>
